body {
    margin:0;
    cursor:default;
}

a {
    -webkit-tap-highlight-color: transparent !important;
    outline: none !important;
}

button {
    -webkit-tap-highlight-color: transparent !important;
    outline: none !important;
}

.email {
    display:block;
}

.navigation {
    display:flex;
    justify-content:center;
    position:sticky;
    top:0;
    background-color:#ffffff;
    box-shadow:0px 4px 8px rgba(0, 0, 0, 0.308);
    z-index: 1;
}

.navmenu {
    margin:5px;
    display:none;
}

.navtitle {
    font-weight:600;
    font-size: 20px;
    padding:0px;
    margin-right:50px;
}

.navlinks {
    display:block;
    cursor:pointer;
}

.navactive {
    color:black;
    border-bottom:3px solid #000000;
    text-decoration:none;
    padding:22px 20px;
    cursor:pointer;
}

.navlinks {
    color:black;
    border-bottom:3px solid #e2e2e2;
    text-decoration:none;
    padding:22px 20px;
    transition:border-bottom-color 0.15s ease-in-out;
}

.contextmenu a {
    display: block;
    color: #000000;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    border-bottom: 3px solid #e2e2e2;
}

.navlinks:hover {
    border-bottom-color:#000000;
}

@media screen and (min-width: 701px) {
    .contextmenu {
        display: none;
    }
    .contextmenu a {
        display:none;
    }
}

@media screen and (max-width: 900px) {
    .email {
        display:none;
    }
}

@media screen and (max-width: 700px) {
    .navigation {
        justify-content:space-between;
    }

    .dimscreen {
        background-color: #00000098;
        position:absolute;
        top:0;
        width:100%;
        height:100%;
    }

    .navmenu {
        display:block;
        border:none;
        padding:20px 20px;
        background:white;
        border-bottom:3px solid #e2e2e2;
        transition:border-bottom-color 0.15s ease-in-out;
        cursor:pointer;
    }

    .navactive {
        display:none;
    }

    .navmenu:hover {
        border-bottom-color:#000000;
    }

    .navlinks {
        display:none;
    }

    .navtitle {
        margin-left:10px;
    }

    .contextmenu {
        position: fixed;
        z-index: 1;
        right:0;
        width:100%;
        text-align:center;
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: #ffffff;
        padding:25px 0px;
        box-shadow:0px 4px 8px rgba(0, 0, 0, 0.308);
    }

    .contextmenu a {
        display: block;
        margin: 0 auto;
    }
}